.home {
  background-color: black;
  min-height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.links {
  /* position: fixed; */
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}
.links a:hover {
  background-color: white;
  color: black;
}
.headersContainer {
  width: 60%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.headersContainer h1,
h2 {
  font-size: 2rem;
}
