.todoMaincontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  min-height: 100vh;
}
.todoformContainer,
.todoGeneralContainer {
  width: 60%;
  margin: auto;
  display: grid;
  gap: 1rem;
  color: white;
}
.header {
  text-align: center;
  font-size: 2rem;
}
.formElement {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  outline: none;
  border: none;
  /* text-align: center; */
}
.formElement input {
  text-align: center;
  border: none;
  outline: none;
  color: black;
}
.btn {
  width: 5rem;
  height: 2rem;
  background-color: rgb(128, 0, 119);
  display: flex;
  text-align: center;
  justify-content: center;
}
/* .todoGeneralContainer{
  width: 60%;

} */
.todoContainer {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem;
  background-color: rgba(36, 35, 35, 0.598);
  border-radius: 1rem;
  padding: 1rem;
  border-bottom: 1px solid white;
}
.todolinks {
  color: white;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 1rem;
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
}
